@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '~/css/bootstrap.min.css'; 

body {
    color: blueviolet;
    font-size: 5em;
    font-family: 'Roboto Mono', monospace;
}
.jumbotron {
    font-size: 6em;
}
