
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<div class="jumbotron">

    <!--if ()  here must be check auturisation -->
    <a asp-area="" asp-controller="Acount" asp-action="Index">Home</a>
    <br /> <br />
    <p> Here we can looking service working on ASP.Net MVC  </p>
    <a asp-area="" asp-controller="ASPNet" asp-action="Index">ASP.Net</a>
   


</div>
