@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
<p>
    Hi everybody!
    <br>
<p>
    The is currency exchance study site. The site is still in the process of development. At the moment, only a few links are working..
</p>


</p>
</div>